.container__small-card {
  width: 350px;
  margin-bottom: 15px;
}

.container__small-card__content {
  display: flex;
  flex-direction: row;
}

.small-card__photo > img {
  width: 100px ;
  min-width: 100px;
  margin-right: 20px;
}

.small-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-card__title > p > a{
  font-size: 15px;
  color: gray;
}

.container__small-card__separator {
  margin-top: 10px;
}

