.container__content {
  width: 100%;
  height: 100vh;

  margin-top: 20px;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.content__cover > img {
  border: 5px solid rgb(164, 162, 162);
  border-radius: 5px;
  width: 500px;
  min-width: 500px;
  height: 300px;
}
.content__title {
  text-align: center;
}

.content__description {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__description > p{
  margin-top: 15px;
  color: gray;
  margin-bottom: 30px;
}
